@model simlex.ViewModels.Vk.VMVkUser[]
@if (Model.Any())
{
    simlex.ViewModels.Vk.VMVkUser item;
    <ul class="net-users">
        @for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            <li>
                <div class="net-users__item">
                    <a href="#">
                        <img alt="@($"{item.FirstName} {item.LastName}")" src="@item.Photo" />
                    </a>
                </div>
            </li>
        }
    </ul>
}