@{ 
    var logoImageId = SiteSettingsProvider["logo-image-id"]?.Value;
    var imageUrl = logoImageId != null ? Url.Action("Picture", "Pictures", new { id = logoImageId }) : "/content/dist/i/static/logo.png";
    var aboutSite=SiteSettingsProvider["sitedesc"]?.Value ?? "Описание сайта";
}
<div class="l-b about-me">
    <div class="about-me-img" style="background-image: url(@imageUrl);">
        <a href="@Url.Action("List", "Articles")"></a>
    </div>
    <h2 class="about-me-title">Привет, @("@username@")!</h2>
    <p class="about-me-text">
        @aboutSite
    </p>
</div>