<div class="l-b about-me">
    <div class="about-me-img"></div>
    <h2 class="about-me-title">Здравствуйте, друзья!</h2>
    <p class="about-me-text">
        Приветствую вас на своем сайте! Буду рад, если материалы, представленные здесь, помогут кому-то в освоении профессии программиста ASP.NET MVC. 
    </p>
</div>