<aside class="ads-block">
    <ul class="ads-block__list">
        <li>
            <div class="ads-block__item">
                <a href="http://bit.ly/tf-wallclassic"> <img alt="demo" src="http://demo.designwall.com/dw-minion/wp-content/uploads/sites/7/2013/07/ad-2.gif"></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="http://bit.ly/tf-wallclassic"> <img alt="demo" src="http://demo.designwall.com/dw-minion/wp-content/uploads/sites/7/2013/07/ad-2.gif"></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="http://bit.ly/tf-wallclassic"> <img alt="demo" src="http://demo.designwall.com/dw-minion/wp-content/uploads/sites/7/2013/07/ad-2.gif"></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="http://bit.ly/tf-wallclassic"> <img alt="demo" src="http://demo.designwall.com/dw-minion/wp-content/uploads/sites/7/2013/07/ad-2.gif"></a>
            </div>
        </li>
    </ul>
</aside>
