<aside class="ads-block">
    <ul class="ads-block__list">
        <li>
            <div class="ads-block__item">
                <a href="#"> <img alt="demo" src="/content/dist/i/temp/ad-2.gif" /></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="#"> <img alt="demo" src="/content/dist/i/temp/ad-2.gif" /></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="#"> <img alt="demo" src="/content/dist/i/temp/ad-2.gif" /></a>
            </div>
        </li>
        <li>
            <div class="ads-block__item">
                <a href="#"> <img alt="demo" src="/content/dist/i/temp/ad-2.gif" /></a>
            </div>
        </li>
    </ul>
</aside>
