<aside class="site-informer">
    @*Yandex.Metrika informer*@
    <a href="https://metrika.yandex.ru/stat/?id=42333189&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/42333189/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="42333189" data-lang="ru" /></a>
</aside>
