<nav>
    <div class="nav-bar">
        @Html.SxSiteNets(preWrite:()=>$"<li class=\"nav-bar--menu-btn\"><a href=\"#\"><i class=\"fa fa-reorder\"></i></a></li> <li class=\"nav-bar--toggle-btn\"><a href=\"#\"><i class=\"fa fa-link\"></i></a></li> <li class=\"nav-bar--search-btn\"><a href=\"#\"><i class=\"fa fa-search\"></i></a></li>", itemCssClass: "nav-bar-item")
    </div>
</nav>
