@model SX.WebCore.ViewModels.SxVMMaterialCategory[]

@Html.SxTree(Model, new SxExtantions.SxTreeSettings<SX.WebCore.ViewModels.SxVMMaterialCategory>() {
    FuncChildren=null,
    FuncContent=x=>$"<i class=\"fa fa-folder-o\" aria-hidden=\"true\"></i>&nbsp;&nbsp;&nbsp;<a href=\"{Url.Action("List", "Articles", new { category=x.Id })}\">{x.Title}</a>"
})